.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebarRow__icon {
  color: #070600;
  font-size: 22px !important;
}
.sidebarRow__title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
}

.sidebarRow:hover {
  background: rgb(35, 181, 211);
  background: linear-gradient(
    90deg,
    rgba(35, 181, 211, 1) 0%,
    rgba(39, 154, 241, 1) 100%
  );
  cursor: pointer;
}

.sidebarRow:hover > .sidebarRow__icon {
  color: #f7f7ff;
}

.sidebarRow:hover > .sidebarRow__title {
  font-weight: bold;
  color: white;
}

.sidebarRow.selected {
  background: rgb(35, 181, 211);
  background: linear-gradient(
    90deg,
    rgba(35, 181, 211, 1) 0%,
    rgba(39, 154, 241, 1) 100%
  );
}

.sidebarRow.selected > .sidebarRow__icon {
  color: #f7f7ff;
}

.sidebarRow.selected > .sidebarRow__title {
  font-weight: bold;
  color: #f7f7ff;
}
