.sidebar {
  width: 200px;
  background-color: #fff;
  position: sticky;
  top: 60px;
  height: calc(100vh - 60px);
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
